<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>steps</key>
	<array>
		<dict>
			<key>folder</key>
			<string>FolderWithConfig</string>
			<key>responseFileName</key>
			<string>success_arrangementSingleItem</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>arrangements</string>
			<key>responseFileName</key>
			<string>success_arrangementItemsList</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>payment-orders</string>
			<key>responseFileName</key>
			<string>success_acceptedPayment</string>
		</dict>
	</array>
</dict>
</plist>
